<app-header></app-header>
<main>
    <div class = 'img-container'>
        <a [routerLink]="['/Concerts']">
            <img class = "img" src = "assets/concert.jpeg" alt = "concert"/>
            <h2>Conciertos</h2>
        </a>
    </div>

    <div class = 'img-container'>
        <a [routerLink]="['/Expos']">
            <img class = "img" src = "assets/expo.jpeg" alt = "expo"/>
            <h2>Expocisiones</h2>
        </a>
    </div>

    <div class = 'img-container'>
        <a [routerLink]="['/Theatre']">
            <img class = "img" src = "assets/theatre.jpeg" alt = "theatre"/>
            <h2>Teatro</h2>
        </a>
    </div>

    <div class = 'img-container'>
        <a [routerLink]="['/Talks']">
            <img class = "img" src = "assets/talks.jpeg" alt = "talks"/>
            <h2>Charlas</h2>
        </a>
    </div>
  
    <div class = 'img-container'>
        <a [routerLink]="['/Conventions']">
            <img class = "img" src = "assets/convention.jpeg" alt = "convention"/>
            <h2>Convenciones</h2>
        </a>
    </div>
</main>