<!-- src/app/about/about.component.html -->
<app-header  ></app-header>
<section class="about-container">
    <div class="about-header">
      <h1>About Us</h1>
      <p>Learn more about our company, our mission, and what drives us!</p>
    </div>
  
    <div class="mission-section">
      <div class="text-container">
        <h2>Our Mission</h2>
        <p>
          We aim to revolutionize the event industry by providing seamless and accessible ticketing services. Our goal is to ensure that every event is a memorable and satisfying experience for both organizers and attendees. From seeing all of the dates for an event to being able to book different tickets with different benefits, to being able to create and manage your events seamlesly along with detailed performance statistics, QueBoleta has you covered!. 
        </p>
      </div>
      <div class="image-container">
        <img src="assets/party1.jpg" alt="Mission Image" />
      </div>
    </div>
  
    <div class="purpose-section">
      <div class="text-container">
        <h2>Our Purpose</h2>
        <p>
          We believe in connecting people through experiences. Our platform is designed to make event planning and ticketing as easy as possible, providing efficient and innovative solutions to enhance attendee engagement and satisfaction.
        </p>
      </div>
      <div class="image-container">
        <img src="assets/easy.jpg" alt="Purpose Image" />
      </div>
    </div>
  </section>
  