.search-container {
    //max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background: linear-gradient(-1000deg,#800080,#ffd700);
    .search-input {
      width: 100%;
      padding: 0.8rem;
      font-size: 1.1rem;
      border-radius: 4px;
      border: 1px solid #ddd;
      margin-bottom: 1rem;
    }
  
    .results-container {
      padding: 1rem;
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      transition: all 0.3s ease;
    }
  
    .event-item {
      background-color: gold;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    }
  
    p {
      font-size: 1rem;
    }
  
    .event-item h3 {
      margin-top: 0;
    }
  
    /* For when no events are found */
    .results-container p {
      color: gold;
    }
  
    /* Fade the container if search bar is empty */
    .results-container.ng-star-inserted {
      opacity: 0;
      pointer-events: none;
    }
  }
  