<div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange()"
      placeholder="Buscar eventos por nombre o fecha"
      class="search-input"
    />
  
    <div *ngIf="searchQuery.trim()" class="results-container">
      <div *ngIf="filteredEvents.length > 0; else noResults">
        <div *ngFor="let event of filteredEvents" class="event-item">
          <h3>{{ event.event_name }}</h3>
          <p>{{ event.event_description }}</p>
          <span><strong>Location:</strong> {{ event.location }}</span>
          <span><strong>Start:</strong> {{ event.start_time | date: 'medium' }}</span>
          <span><strong>End:</strong> {{ event.end_time | date: 'medium' }}</span>
        </div>
      </div>
      <ng-template #noResults>
        <p>No events found</p>
      </ng-template>
    </div>
  </div>
  