.user-info {
    background: linear-gradient(-1000deg, #800080, rgb(0, 0, 151)); // Purple to blue gradient
    padding: 30px 20px;
    color: white;
    text-align: center;
    //border-radius: 10px;
  
    h1 {
      font-family: 'Trebuchet MS', Arial, sans-serif;
      font-size: 2.5rem;
      color: #ffd700;
      margin-bottom: 20px;
      font-weight: bold;
    }
  
    .carousel-container {
      margin-top: 20px;
      margin-bottom: 30px;
      
      h2 {
        font-size: 1.8rem;
        color: #ffd700;
        margin-bottom: 10px;
      }
  
      .carousel-content {
        display: flex;
        overflow-x: auto;
        gap: 10px;
        padding: 10px;
        justify-content: center;
        
        .carousel-item {
          background-color: rgba(123, 0, 255, 0.8);
          border: 1px solid #ffd700;
          padding: 20px;
          border-radius: 10px;
          color: white;
          text-align: center;
          min-width: 250px;
  
          h3 {
            font-size: 1.5rem;
            color: #ffd700;
          }
  
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
  
    .user-balance {
      margin-top: 20px;
      font-size: 1.3rem;
      color: white;
      font-weight: bold;
      strong {
        color: #ffcc00;
      }
    }
  
    .actions {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;
  
      input[type='number'] {
        padding: 10px;
        font-size: 1rem;
        border-radius: 5px;
        border: 1px solid #ffd700;
        width: 200px;
        margin-right: 10px;
      }
  
      button {
        font-size: 1.2rem;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
  
        &.confirm-button {
          background-color: #32cd32;
          color: white;
          border: none;
  
          &:hover {
            background-color: #28a428;
          }
        }
      }
    }
  }
  