<header>
  <div class="nav-buttons">
    <button class="nav-button" [routerLink]="['/about']">Acerca de</button>
    <button class ="nav-button" [routerLink]="['/eventos']">Eventos</button>
  </div>
  <div class="logo-container">
    <a [routerLink]="['/']">
      <img class="logo" src="assets/logo.png" alt="Logo" />
    </a>
  </div>
  <div class="nav-buttons">
    <button class="nav-button" [routerLink]="['/login']">Iniciar sesión</button>
    <button class="nav-button" [routerLink]="['/register']">Registrarse</button>
  </div>
</header>
