<!-- src/app/home/home.component.html -->
<header>
  <div class="logo-container">
    <!-- Correctly reference the logo -->
    <img class="logo" src="assets/logo.jpg" alt="Logo" />
  </div>
  <div class="nav-buttons">
    <button class="nav-button" (click)="navigateTo('/about')">About</button>
    <button class="nav-button" (click)="navigateTo('/login')">Login</button>
    <button class="nav-button" (click)="navigateTo('/register')">Register</button>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
